<a href="https://colab.research.google.com/github/jeremykleindienst/vorlesung_python/blob/main/Vorlesung0.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
2 + 3

5

In [ ]:
print("Hallo")

Hallo

In [ ]:
# Kommentar

Das hier ist ein Test. Ich will gleich ... machen:

# Überschrift

## Unterüberschrift

*kursiv* oder **fett**

In [ ]:
x = 1

In [1]:
abs (-2) #Betrag von 2

2

In [3]:
message = "Hello"

In [6]:
message? #ruft Hilfe auf

In [7]:
help(abs) #ruft Hilfe auf

Help on built-in function abs in module builtins:

abs(x, /)
    Return the absolute value of the argument.

In [9]:
abs(2.5)

2.5

In [10]:
x = "Karl's tea"
y = 'Karl said: "Hi"'
z = 'Karl said: "Karl\'s tea is tasty."'
print(x)
print(y)
print(z)

Karl's tea
Karl said: "Hi"
Karl said: "Karl's tea is tasty."

In [12]:
from plotnine.data import mtcars # oberstes Package plotnine # modul data # data frame mtcars
import pandas as pd # package # alias

mtcars.head() # python objekt "mtcars" hat eine methode "head"

# Zeile = Objekte / Item / Observation
# Spalten = Feature / Variable

,name,mpg,cyl,disp,hp,drat,wt,qsec,vs,am,gear,carb
0,Mazda RX4,21.0,6,160.0,110,3.90,2.620,16.46,0,1,4,4
1,Mazda RX4 Wag,21.0,6,160.0,110,3.90,2.875,17.02,0,1,4,4
2,Datsun 710,22.8,4,108.0,93,3.85,2.320,18.61,1,1,4,1
3,Hornet 4 Drive,21.4,6,258.0,110,3.08,3.215,19.44,1,0,3,1
4,Hornet Sportabout,18.7,8,360.0,175,3.15,3.440,17.02,0,0,3,2

In [13]:
mtcars.describe()

,mpg,cyl,disp,hp,drat,wt,qsec,vs,am,gear,carb
count,32.000000,32.000000,32.000000,32.000000,32.000000,32.000000,32.000000,32.000000,32.000000,32.000000,32.0000
mean,20.090625,6.187500,230.721875,146.687500,3.596563,3.217250,17.848750,0.437500,0.406250,3.687500,2.8125
std,6.026948,1.785922,123.938694,68.562868,0.534679,0.978457,1.786943,0.504016,0.498991,0.737804,1.6152
min,10.400000,4.000000,71.100000,52.000000,2.760000,1.513000,14.500000,0.000000,0.000000,3.000000,1.0000
25%,15.425000,4.000000,120.825000,96.500000,3.080000,2.581250,16.892500,0.000000,0.000000,3.000000,2.0000
50%,19.200000,6.000000,196.300000,123.000000,3.695000,3.325000,17.710000,0.000000,0.000000,4.000000,2.0000
75%,22.800000,8.000000,326.000000,180.000000,3.920000,3.610000,18.900000,1.000000,1.000000,4.000000,4.0000
max,33.900000,8.000000,472.000000,335.000000,4.930000,5.424000,22.900000,1.000000,1.000000,5.000000,8.0000

In [14]:
mtcars.dtypes

name     object
mpg     float64
cyl       int64
disp    float64
hp        int64
drat    float64
wt      float64
qsec    float64
vs        int64
am        int64
gear      int64
carb      int64
dtype: object

In [15]:
km_per_Liter = mtcars.mpg * (1.6093 / 3.785441)
Liter_per_km = 1 / km_per_Liter
Liter_per_100km = Liter_per_km *100
mtcars["lp100km"] = Liter_per_100km
mtcars.head()

,name,mpg,cyl,disp,hp,drat,wt,qsec,vs,am,gear,carb,lp100km
0,Mazda RX4,21.0,6,160.0,110,3.90,2.620,16.46,0,1,4,4,11.201087
1,Mazda RX4 Wag,21.0,6,160.0,110,3.90,2.875,17.02,0,1,4,4,11.201087
2,Datsun 710,22.8,4,108.0,93,3.85,2.320,18.61,1,1,4,1,10.316791
3,Hornet 4 Drive,21.4,6,258.0,110,3.08,3.215,19.44,1,0,3,1,10.991721
4,Hornet Sportabout,18.7,8,360.0,175,3.15,3.440,17.02,0,0,3,2,12.578761

In [16]:
14%3 #modulus

2

In [17]:
4**2 #potenzieren

16

In [18]:
type(x) #Datentyp

str

In [27]:
a = "Hello "
b = "World"
c = a+b
print((a+b)*3)

Hello WorldHello WorldHello World

In [36]:
print (c[0])
print (c[1:4]) #lässt den letzten raus #bedeutet until
print (c[-6:])
print(c[:2])
print(c[:8:2])
print(c[::-1])

H
ell
 World
He
HloW
dlroW olleH

In [61]:
liste = [1,2,3,4,5,7,11,"string",6.7]

In [62]:
print(type(liste))
print(type(liste[-1]))
print(liste*2)
liste[0]="neu"
print(liste) #der Datentyp ist mutable = veränderbar

<class 'list'>
<class 'float'>
[1, 2, 3, 4, 5, 7, 11, 'string', 6.7, 1, 2, 3, 4, 5, 7, 11, 'string', 6.7]
['neu', 2, 3, 4, 5, 7, 11, 'string', 6.7]

In [47]:
liste[3:7]=[234,456] #Teil 3-6 wurde durch die zwei neuen Elemente ersetzt
print(liste)

['neu', 2, 3, 234, 456, 'string', 6.7]

In [48]:
liste.append("last")
print(liste)

['neu', 2, 3, 234, 456, 'string', 6.7, 'last']

In [49]:
print(len(liste))

8

In [50]:
print(liste.pop(3))

234

In [53]:
print(liste.index(2)) #an welcher Stelle ist das Element 2

1

In [66]:
print(range(10))
print(range(2,10,4))
print(list(range(2,10,4)))

range(0, 10)
range(2, 10, 4)

TypeError: ignored

In [58]:
a=[1,2,[7,2,8]]
print(a[0])
print(a[2][1])

1
2

In [72]:
my_tuple=23,45,45,"last" # immutable # my_tuple[0] = 3 oder append geht deshalb zum Beispiel nicht
my_tuple=(23,34,34,"last")

In [70]:
my_dict = {"a":11, "b":22, "c":33}
print(my_dict["a"])
my_dict[4]=99
print(my_dict)
print(my_dict.keys())
print(my_dict.values())

11
{'a': 11, 'b': 22, 'c': 33, 4: 99}
dict_keys(['a', 'b', 'c', 4])
dict_values([11, 22, 33, 99])

In [73]:
# Membership operators

print("franz" in my_dict)
print("franz" in my_tuple)
print(2 in [1,2,3])

False
False
True

In [ ]:
# control flows

x = 1
if x == 1:
    print("x ist 1")
    if y == 1:
      print("x ist 1")

#if 
#elif
#else

In [81]:
# for loops

example_list = (1,3,5,"string")
for elem in example_list:
  print(elem, type(elem))

1 <class 'int'>
3 <class 'int'>
5 <class 'int'>
string <class 'str'>

In [82]:
for r in range(5): #geht von 0 bis inklusive 4
  print(r**2)

0
1
4
9
16

In [83]:
for r in range(5): #nennt man allgemein head #alles nach dem Doppelpunkt ist der body
  x=r*2
  print(x)

0
2
4
6
8

In [89]:
# == equal to # != not equal to

t = 10
if True:
  print("nice")
if False:
  print("not nice")

nice

In [94]:
# while loop

x=0
while x<5:
  print(x)
  x+=1

y=0
while True:
  print(y)
  y+=1
  if y>5:
    break

#if False ist auch praktisch, um Blöcke von Code beim Durchführen des Codes auszuschließen

0
1
2
3
4
0
1
2
3
4
5